@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.appSafeArea {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
